:root {
  /* Size Variables */
  --size-4px: 0.25rem;
  --size-6px: 0.375rem;
  --size-8px: 0.5rem;
  --size-12px: 0.75rem;
  --size-16px: 1rem;
  --size-20px: 1.25rem;
  --size-24px: 1.5rem;
  --size-28px: 1.75rem;
  --size-32px: 2rem;
  --size-36px: 2.25rem;
  --size-40px: 2.5rem;
  --size-44px: 2.75rem;
  --size-48px: 3rem;
  --size-52px: 3.25rem;
  --size-56px: 3.5rem;
  --size-60px: 3.75rem;
  --size-64px: 4rem;
  --size-68px: 4.25rem;
  --size-72px: 4.5rem;
  --size-76px: 4.75rem;
  --size-80px: 5rem;
  --size-84px: 5.25rem;
  --size-88px: 5.5rem;
  --size-92px: 5.75rem;
  --size-96px: 6rem;
  --size-100px: 6.25rem;
  --size-104px: 6.5rem;
  --size-106px: 6.75rem;
  --size-110px: 7rem;
  --size-114px: 7.25rem;
  --size-118px: 7.5rem;
  --size-124px: 7.75rem;
  --size-128px: 8rem;
  --size-132px: 8.25rem;
  --size-136px: 8.5rem;
  --size-140px: 8.75rem;
  --size-144px: 9rem;
  --size-148px: 9.25rem;
  --size-152px: 9.5rem;
  --size-156px: 9.75rem;
  --size-160px: 10rem;
  --size-164px: 10.25rem;
  --size-168px: 10.5rem;
  --size-172px: 10.75rem;
  --size-176px: 11rem;
  --size-180px: 11.25rem;
  --size-184px: 11.5rem;
  --size-188px: 11.75rem;
  --size-192px: 12rem;
  --size-196px: 12.25rem;
  --size-200px: 12.5rem;
  --size-204px: 12.75rem;
  --size-208px: 13rem;
  --size-212px: 13.25rem;
  --size-216px: 13.5rem;
  --size-220px: 13.75rem;
  --size-224px: 14rem;
  --size-228px: 14.25rem;
  --size-232px: 14.5rem;
  --size-236px: 14.75rem;
  --size-240px: 15rem;
  --size-244px: 15.25rem;
  --size-248px: 15.5rem;
  --size-252px: 15.75rem;
  --size-256px: 16rem;
  --size-260px: 16.25rem;
  --size-264px: 16.5rem;
  --size-268px: 16.75rem;
  --size-272px: 17rem;
  --size-276px: 17.25rem;
  --size-280px: 17.5rem;
  --size-284px: 17.75rem;
  --size-288px: 18rem;
  --size-292px: 18.25rem;
  --size-296px: 18.5rem;
  --size-300px: 18.75rem;
  --size-304px: 19rem;

  /* Color Variables */
  --primary-clr: #00ebc7;
  --secondary-clr: #f5d061;

  /* Base Colors */
  --base-white: #f8f6f6;
  --base-black: #2a363b;

  /* Design Tokens */
  --text-primary: var(--base-black);
  --text-secondary: var(--base-white);
  --bg-primary: var(--base-white);
}
